Let's import the necessary libraries and files to get started

In [9]:
import numpy as np
import pandas as pd

import boto3
from sagemaker import get_execution_role

role = get_execution_role()
bucket='ceo-turnover-data'
data_key = 'pre_processed_v4_CEO.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)

data = pd.read_csv(data_location)

data is a pandas dataframe storing our preprocessed dataset. Let's print out data.head() to check it imported correctly and see how it's structured

In [8]:
print(data.head())

   Age                                       Company Name   Director Name  \
0   73  COSTCO WHOLESALE CORP (Costco Companies Inc pr...     Jim Sinegal
1   28            Morris & Garritano Insurance Agency Inc  Brendan Morris
2   29  Madison Industries Inc (Madison Capital Partne...   Larry Gies Jr
3   33                              Crowley Maritime Corp  Tom Crowley Jr
4   33                     Enterprise Solutions Group Inc     Savas Karas

   Number of Records               Role Name           Seniority  \
0                  1           President/CEO  Executive Director
1                  1                     CEO  Executive Director
2                  1  Chairman/President/CEO  Executive Director
3                  1  Chairman/President/CEO  Executive Director
4                  1           President/CEO  Executive Director

   Tenure (Years) Turnover (YES/NO)  Year
0               7                NO  2000
1               7                NO  2001
2               7                NO  2001
3               7                NO  2001
4               7                NO  2001

Now we're cooking with gas!